@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .arrow-down:after {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 60%, 80% 60%, 80% 5%, 20% 5%, 20% 60%, 3% 60%, 50% 95%);
    height: 100%;
    background: rgba(0, 0, 0, .5);
    content: "";
    z-index: 0;
    opacity: 1;
    transition: background-color .3s ease;
  }

  .arrow-up:after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 40%, 80% 40%, 80% 95%, 20% 95%, 20% 40%, 3% 40%, 50% 5%);
    height: 100%;
    background: rgba(0, 0, 0, .5);
    content: "";
    z-index: 0;
    opacity: 1;
    transition: background-color .3s ease;
  }

}

